<div class="page-wrapper">
    <h2>Bragging isn't very midwestern, but I'm gonna do it anyway...</h2>
    <div class="grid-container">
        {{!-- Card masonry html & css modified based off of Stephen Lee's demo https://codepen.io/abcretrograde/pen/eKOmLP --}}
        <div class="container">
            <div class="card large">
                <div class="card-image">
                    <img src="/images/fame/literacy-rate.jpg">
                    <h7 class="PC">Pexels.com</h7>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h3>Highest Reading Literacy</h3>
                        <p>Believe it or not, Iowa has the best reading literacy rate out of all 50 states.</p>
                        <p>Must be from all that corn. 😉</p>
                    </div>
                    <button onclick="window.open('https://iowabrag.com/post/91868735749/iowa-has-the-nations-highest-literacy-rate-at','_blank')">Read More...</button>
                </div>
            </div>
            <div class="card small">
                <div class="card-image">
                    <img src="/images/fame/911-emergency-system.jpg">
                    <h7 class="PC">Pexels.com</h7>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h3>Thanks, Nebraska</h3>
                        <p>The 911 system of emergency communications, now used nationwide, was developed and first used in Lincoln, Nebraska.</p>
                    </div>
                </div>
            </div>
            <div class="card carl">
                <div class="carl-image">
                    <img src="/images/fame/carl-stokes-1.jpg">
                    <h7 class="PC">ShareTheRiver.com</h7>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h3>Carl Stokes</h3>
                        <ul>
                            <li>Former Mayor of Cleveland, OH</li>
                            <li>First African American mayor in the U.S.</li>
                        </ul>
                    </div>
                    <button onclick="window.open('https://en.wikipedia.org/wiki/Carl_Stokes','_blank')">Learn about Carl</button>
                </div>
            </div>
            <div class="card large">
                <div class="card-image">
                    <img src="/images/fame/helium.jpg">
                    <h7 class="PC">Pexels.com</h7>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h3>Helium</h3>
                        <p>1905 - Hamilton P. Cady and David F. McFarland discovered that Helium is a natural gas while conducting research at the University of Kansas.</p>
                    </div>
                    <a href="/files/helium.pdf" target="_blank">
                        <button>Download Booklet</button>
                    </a>
                </div>
            </div>
            <div class="card small">
                <div class="card-image">
                    <img src="/images/fame/honeycrisp-apple.jpg">
                    <h7 class="PC">Pexels.com</h7>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h3>Honeycrisp Apples</h3>
                        <p>Wait... You thought those were made by mother nature? Well, guess again. The honeycrisp apple was invented at the University of Minnesota.</p>
                    </div>
                </div>
            </div>
            <div class="card carl">
                <div class="carl-image">
                    <img src="/images/fame/ice-cream-sundae.jpeg">
                    <h7 class="PC">Pexels.com</h7>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h3>Because Dairy Cows</h3>
                        <p>The first ice cream sundae was made in Wisconsin.</p>
                        <p>(I am forever greatful 🍨)</p>
                    </div>
                </div>
            </div>
            <div class="card car">
                <div class="card-image">
                    <img src="/images/fame/car-capital.jpg">
                    <h7 class="PC">Pexels.com</h7>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h3>Detroit Gets Around</h3>
                        <p>Obviously I'm talking about cars... seeing as it's considered the car capital of the world.</p>
                    </div>
                </div>
            </div>
            <div class="card large">
                <div class="card-image">
                    <img src="/images/fame/mcdonalds.jpg">
                    <h7 class="PC">History.com</h7>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h3>Not Really a Brag</h3>
                        <p>Illinois was the birthplace of the first McDonald's... 😐</p>
                        <p>It's the only thing I could find remotely interesting, since Cloud Gate in Chicago's Millenium Park, was to easy.</p>
                    </div>
                </div>
            </div>
            <div class="card small">
                <div class="card-image">
                    <img src="/images/fame/volunteers.jpg">
                    <h7 class="PC">1208Greenwood.com</h7>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h3>Most Teenage Volunteers</h3>
                        <p>Want your current or future kids to be more philanthropic?</p>
                        <p>Easy.</p>
                        <p>Move to Kansas.</p>
                    </div>
                </div>
            </div>
            <div class="card medium">
                <div class="card-image">
                    <img src="/images/fame/walley-capital.jpeg">
                    <h7 class="PC">Pexels.com</h7>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h3>We're Fishy 🐟</h3>
                        <p>Garrison, Minnesota is crowned the walley capital of the world.</p>
                        <p>Minnesotans are so proud of it, they made the walley their state fish.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/fame.js"></script>