<div class="page-wrapper">
    <h2>It's always a good time to make fun of the midwest...</h2>
    <div class="fun-wrapper">
        <div class="youtube-wrapper">
            <div class="youtube-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/w1ZWJ95WKwA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/26yiFjMMIQM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ELuLxWkjvnE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="twitter-wrapper">
            <div class="twitter-box">
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">Midwest culture is just ranch dressing that’s it</p>&mdash; babu freak
                    (@katieakin) <a
                        href="https://twitter.com/katieakin/status/995476901480357889?ref_src=twsrc%5Etfw">May
                        13, 2018</a>
                </blockquote>
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">midwest culture is needing to pee the entire flight but having a window seat
                        and
                        not wanting to disturb the people in your row so you just suffer</p>&mdash; ellie schnitt
                    (@holy_schnitt) <a
                        href="https://twitter.com/holy_schnitt/status/1064980098783371266?ref_src=twsrc%5Etfw">November
                        20,
                        2018</a>
                </blockquote>
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">Midwest culture is hearing the tornado sirens going off, checking the news
                        station, and still not going into a basement or shelter area until you hear a tornado knocking
                        on
                        your door asking for some sugar.</p>&mdash; crash bandicoot soundtrack leftover (@sydiest) <a
                        href="https://twitter.com/sydiest/status/1011678817679790083?ref_src=twsrc%5Etfw">June 26,
                        2018</a>
                </blockquote>
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">Small town midwest culture is driving 2 hours just to go to Olive Garden and
                        the
                        mall</p>&mdash; Lucas (@nannahnucas) <a
                        href="https://twitter.com/nannahnucas/status/1045454391627665409?ref_src=twsrc%5Etfw">September
                        27,
                        2018</a>
                </blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
<p class="page-caption">Hover the content and scroll to see more.</p>