<div class="slideshow-container">

    <div class="mySlides fade">
        <img src="/images/home_shuffle/iowa.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/illinois.jpg" width="1920px" height="1246px">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/wisconsin.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/north_dakota.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/south_dakota.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/minnesota.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/indiana.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/michigan.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/missouri.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/nebraska.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/ohio.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/kansas.jpg">
    </div>

    <div class="state">
        <p></p>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="dot-wrapper">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
        <span class="dot" onclick="currentSlide(9)"></span>
        <span class="dot" onclick="currentSlide(10)"></span>
        <span class="dot" onclick="currentSlide(11)"></span>
        <span class="dot" onclick="currentSlide(12)"></span>
    </div>

</div>
<p class="page-caption">Photo from pixabay.com</p>

<script src="/js/carousel.js"></script>