.fun-wrapper {
    height: 80vh;
    width: 96vw;
    display: inline-flex;
}

.youtube-wrapper {
    width: 60%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 10px;
    height: 75vh;
}

.twitter-wrapper {
    width: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 10px;
    margin-left: 20px;
    height: 75vh;
}

.youtube-box {
    width: 100%;
    height: fit-content;
}

.twitter-box {
    width: 100%;
    height: fit-content;
    padding-right: 5px;
}

