.fun-wrapper {
    height: 80vh;
    width: 96vw;
    display: inline-flex;
}

.youtube-wrapper {
    width: 60%;
    overflow: hidden;
    margin-top: 10px;
    height: 75vh;
    position: relative;
}

.twitter-wrapper {
    width: 40%;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 20px;
    height: 75vh;
    position: relative;
}

.youtube-box {
    width: 100%;
    right: -20px;
    position: absolute;
    height: 100%;
    overflow-y: scroll;
}

.twitter-box {
    width: 100%;
    right: -20px;
    position: absolute;
    height: 100%;
    overflow-y: scroll;
    padding-right: 5px;
}

.youtube-box iframe:not(:first),
.twitter-box iframe:not(:first) {
    margin-top:20px;
}
