.youtube-wrapper,
.twitter-wrapper {
    height: fit-content;
    width: 48vw;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 10px;
}

.youtube-box {
    width: 48vw;
    height: fit-content;
}

.twitter-box {
    width: 48vw;
    height: fit-content;
}

