/* Code modified from David Marcus' GitHub Repo:  https://github.com/WebsiteBeaver/interactive-and-responsive-svg-map-of-us-states-capitals */

  path:hover, circle:hover {
    /* stroke: white !important; */
    stroke-width:2px;
    stroke-linejoin: round;
    fill: gold !important;
    cursor: pointer;
  }
  #path67 {
    fill: none !important;
    stroke: #A9A9A9 !important;
    cursor: default;
  }
  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Raleway';
  }